.editProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 100px;
}

.editProfile > form > .bottom {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editProfile > form > .bottom > label > img {
    width: 40px;
    cursor: pointer;
    margin-right: 5px;
}

.editProfile > form > .bottom > label > img:hover {
    transform: scale(1.2);
}

.editProfile > form > .bottom > #pdf::-webkit-file-upload-button {
    visibility: none;
    display: none;
}

.editProfile > form > .bottom > button {
    width: 100%;
    padding: 10px;
    background-color: rgb(10, 56, 10);
    color: white;
    letter-spacing: 2px;
    border-color: rgb(10, 56, 10);
    cursor: pointer;
    font-weight: 600;
}

.editProfile > form > .bottom > button:hover {
    background-color: white;
    color: rgb(10, 56, 10);
}