.dashboard {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.dashboard__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.dashboard__header > img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.dashboard__resume {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dashboard__resume > img {
    height: 40px;
    width: 40px;
}

.dashboard__resume > a {
    text-decoration: none;
    color: #1b2411;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}

.dashboard__resume > a:hover {
    background-color: rgb(155, 245, 104);
    border-radius: 10px;
}


.dashboard__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.dashboard__exp {
    margin-top: 25px;
}

.dashboard__exp > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 24px;
    font-weight: 500;
}

.dashboard__edu {
    margin-top: 25px;
}

.dashboard__edu > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 24px;
    font-weight: 500;
}